#! /usr/bin/make -f

export PYBUILD_NAME=duecredit
export PYBUILD_AFTER_INSTALL_python2=rm -rf {destdir}/usr/bin/
export PYBUILD_TEST_ARGS=-etest_import_doi
%:
	dh $@ --with python2,python3 --buildsystem=pybuild
